<%= form_with(model: exam, local: true) do |form| %>
  <% if exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% exam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :exam_title %>
  </div>

  <div class="field">
    <%= form.label :passing_score %>
    <%= form.number_field :passing_score, id: :exam_passing_score %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :exam_date %>
  </div>

  <div class="field">
    <%= form.label :course_id %>
    <%= form.text_field :course_id, id: :exam_course_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
