<div class="container col-md-8 col-md-offset-2 ">
  <h1>Listing <%= @course.year %> Exams</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Passing score</th>
        <th>Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @exams.each do |exam| %>
        <tr>
        <td><%= exam.title %></td>
        <td><%= exam.passing_score %> %</td>
        <td><%= exam.date %></td>
        <td>
          <%= link_to 'Edit', edit_course_exam_path(exam.course, exam), class: 'btn btn-outline-success' %>
          <%= link_to 'Destroy', [exam.course, exam],  data: { confirm: 'Are you sure?' }, :method => :delete, class: 'btn btn-outline-danger' %>
          <a class="btn btn-outline-secondary" href="<%=  results_course_exam_url(exam.course, exam) %>">
              Results
          </a>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Exam', new_course_exam_path(params[:course_id]), class: 'btn btn-outline-warning' %>
  <%= link_to 'Back to Courses', courses_path, class: 'btn btn-outline-dark' %>
</div>