
<div class="container col-md-4 col-md-offset-4" style="width:400px">
  <div class="card" style="width:400px">
    <%=image_tag("course1.jpeg", alt: "Card image, ruby development image", class: "card-img-top")%>
    <div class="card-body">
      <h4 class="card-title">Exam</h4>
      <p class="card-text">
        <p>
          <b>Title:</b>
          <%= @exam.title %>
        </p>
        
        <p>
          <b>Passing score:</b>
          <%= @exam.passing_score %>
        </p>
        
        <p>
          <b>Date:</b>
          <%= @exam.date %>
        </p>
      </p>
      <%= link_to 'Edit', edit_course_exam_path(@exam.course, @exam), class: 'btn btn-outline-success' %> 
      <%= link_to 'Back', course_exams_path(@exam.course), class: 'btn btn-outline-dark' %>
    </div>
  </div>
</div>
