<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @exam.title %>
</p>

<p>
  <b>Passing score:</b>
  <%= @exam.passing_score %>
</p>

<p>
  <b>Date:</b>
  <%= @exam.date %>
</p>


<%= link_to 'Edit', edit_course_exam_path(@exam.course, @exam) %> |
<%= link_to 'Back', course_exams_path(@exam.course) %>
