<!DOCTYPE html>
<html>
  <head>
    <title>AppTrabajo</title>
    <%= csrf_meta_tags %>    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navbar global -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      
      <!-- Brand -->
      <a class="navbar-brand" href="<%= home_index_url %>">
         TTPS - Managment App
      </a>
    
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <!-- Links -->
        <ul class="navbar-nav">
          
          <li class="nav-item">
          <!-- considerar clase para a solamente "btn btn-lg btn-social btn-github" -->
            <a class="nav-link" href="<%= home_index_url %>">
                <i class="fa fa-home"></i> Home
            </a>
          </li>
        
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>        
            </li>
          <% else %>
          <!--
              <li class="nav-item">
                <%= link_to('Login', new_user_session_path, class: 'nav-link')  %>  
              </li>
          -->
          <% end %>

          <li class="nav-item">
            <a class="nav-link" href="#">Static Link</a>
          </li>
      
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <i class="fa fa-chevron-circle-down"></i> Actions
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= courses_url %>">Courses</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
        </ul>
      </div>
    </nav> 

    <!-- Mensajes de error/notificacion desde devise -->    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <div class="container beyond-navbar">
      <%= yield %>
    </div>

    <!-- footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Trabajo final para la asignatura TTPS-Ruby, por Camila Onofri | Año <%= Time.now.year %> </span>
      </div>
    </footer>

  </body>
</html>
