<%= form_with(model: cursada, local: true) do |form| %>
  <% if cursada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cursada.errors.count, "error") %> prohibited this cursada from being saved:</h2>

      <ul>
      <% cursada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %><br>
    <%= form.number_field :year, id: :cursada_year %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-warning' %>
  </div>
<% end %>
