<%= form_for([@note.exam, @note]) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  
  <div class="field">
    <%= f.label :student %><br />
    <%= f.select :student_id, options_for_select(@note.exam.course.students.collect { |student|
    [student.name.titleize, student.id] }, 1), {}, { id: 'student_id' } %>
  </div>  
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
