<h1>Listing <%= @notes.first.exam.title %>'s notes </h1>

<table>
  <tr>
    <th>Score</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.score %></td>
    <td><%= note.student.surname %> <%= note.student.name %></td>
    <td><%= link_to 'Show', [note.exam, note] %></td>
    <td><%= link_to 'Edit', edit_exam_note_path(note.exam, note) %></td>
    <td><%= link_to 'Destroy', [note.exam, note], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Note', new_exam_note_path(params[:exam_id]) %>
