<p id="notice"><%= notice %></p>

<p>
  <b>Score:</b>
  <%= @note.score %>
</p>

<p>
  <b>Student:</b>
  <%= @note.student.surname %> <%= @note.student.name %>
</p>

<p>
  <b>Exam:</b>
  <%= @note.exam.title %>
</p>

<p>
  <b>Course:</b>
  <%= @note.exam.course.year %>
</p>

<p>
  <b>Last modified:</b>
  <%= @note.updated_at %>
</p>

<%= link_to 'Edit', edit_exam_note_path(@note.exam, @note) %> |
<%= link_to 'Back', exam_notes_path(@note.exam) %>
