<p id="notice"><%= notice %></p>

<p>
  <b>Apellido:</b>
  <%= @student.apellido %>
</p>

<p>
  <b>Nombre:</b>
  <%= @student.nombre %>
</p>

<p>
  <b>Legajo:</b>
  <%= @student.legajo %>
</p>

<p>
  <b>Dni:</b>
  <%= @student.dni %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>


<%= link_to 'Edit', edit_course_student_path(@student.course, @student) %> |
<%= link_to 'Back', course_students_path(@student.course) %>
