<div class="container col-md-6 col-md-offset-3 ">
  <h1>Courses</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Year</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.year %></td>
          <td>
              <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-outline-success' %>
              <%= link_to 'Destroy', [course],  data: { confirm: 'Are you sure?' }, :method => :delete, class: 'btn btn-outline-danger' %>

              <a class="btn btn-outline-info" href="<%= course_exams_url(course) %>">
                 Exams
              </a>
              <a class="btn btn-outline-secondary" href="<%= course_students_url(course) %>">
                  Students
              </a>
              <a class="btn btn-outline-dark" href="<%= summary_course_path(course) %>">
                  Summary
              </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Course', new_course_path, class: 'btn btn-outline-warning' %>
</div>