
<div class="container col-md-8 col-md-offset-2 ">
  <h1>Summary</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Students</th>
        <% @course.exams.each do |exam| %>
             <th><%= exam.title %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @course.students.each do |student| %>
        <tr>
          <td><%= student.surname %> <%= student.name %></td>
          <% @course.exams.each do |exam| %>
            <td>
                <% if student.attended_to? exam  %>
                    <% result = student.score_for exam %>
                    <% if result.passed?  %>
                      <span id="passed">
                        <%= result.score %> %
                        <i class="fa fa-check-circle-o"></i> 
                      <span>
                    <% else %>
                      <span id="fail"> 
                        <%= result.score %> %
                        <i class="fa fa-times-circle-o"></i> 
                      <span>
                    <% end %>
                <% else %>
                   <span id="absent"> Absent <i class="fa fa-exclamation-circle"></i><span>
                <% end %>
            </td>
          <% end %>  
        </tr>
      <% end %>
    </tbody>
    <tfoot class="tfoot-dark">
      <tr>
        <td>Passing</td>
        <% @course.exams.each do |exam| %>
              <td><%= exam.title %></td>
        <% end %>
      </tr>
      <tr>
        <td>Failed</td>
        <% @course.exams.each do |exam| %>
              <td><%= exam.title %></td>
        <% end %>
      </tr>
      <tr>
        <td>Absent</td>
        <% @course.exams.each do |exam| %>
              <td><%= exam.title %></td>
        <% end %>
      </tr>
      <tr>
      <td>Aproval percentage</td>
      <% @course.exams.each do |exam| %>
            <td><%= exam.title %></td>
      <% end %>
    </tr>
    </tfoot>
  </table>

  <br>      
  <%= link_to 'Back', courses_path, class: 'btn btn-outline-dark' %>

</div>
