<%= form_for([@result.exam, @result]) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :score %><br />
    <%= f.number_field :score %>
  </div>
  
  <div class="field">
    <%= f.label :student %><br />
    <%= f.collection_select :student_id, @result.exam.course.students, :id, :name, {:prompt => "Select a Student"}, {:class=>""} %>
  </div>  
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
