
<div class="container col-md-4 col-md-offset-4" style="width:400px">
<div class="card" style="width:400px">
  <%=image_tag("course1.jpeg", alt: "Card image, ruby development image", class: "card-img-top")%>
  <div class="card-body">
    <h4 class="card-title">Result</h4>
    <p class="card-text">
      <p>
        <b>Score:</b>
        <%= @result.score %> %
      </p>
      
      <p>
        <b>Student:</b>
        <%= @result.student.surname %>, <%= @result.student.name %>
      </p>
    </p>
    <%= link_to 'Edit', edit_course_exam_result_path(@result.exam, @result), class: 'btn btn-outline-success' %> 
    <%= link_to 'Back',  course_exam_results_path(@result.exam.course, @result.exam) , class: 'btn btn-outline-dark' %>
  </div>
</div>
</div>


